<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="http://github.com/MatthewFlores">Matthew Flores</a>. A web developer who is on a mission to acquire the technical skills needed to launch his own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    He learned, at the University of Texas at Austin coding bootcamp, how to code and build products during a 24 week online course.  His goal is to be able to code and build products that people and companies could use all over the world.   There is so much that can be done with technology nowadays, the only thing required is knowldge.  Knowledge is power.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'matt.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Matthew Flores</h2>
      <br />
      <p>
        Matthew Flores isi a web developer that is learning the technical skills needed to have a successful career in web development.  He has limited experience in technical industry but the education he has received from the University of Texas at Austin coding bootcamp has been an invaluable resource that has launched his career.   He grew up on a border town in El Paso Texas, and moved to Austin to further grow as a person.   Working mostly as warehouse associate, warehouse manager, and retail manager, Matt decided to expand his scope and moved into the technical industry.  Building Splurty is the first step of many to accomplishing his goal of being a succesful web developer.
      </p>
    </div>
  </div> 

</div>

<br class="clear" />
<br />
<br />
<br />
<br />